.flex-container{
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:transparent;
    color: black;
}
button{
    background-color: transparent;
    color: black;
    border-radius:3px;
    cursor: pointer;
}
button:hover{
background-color: black;
color: white;
transition: 0.285s ease-in;
}